doctype html
html(height='100%', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')

    //- Start SEO optimization
    meta(name='author', content='CIAYO Games')
    meta(name='keywords', content='ciayo, games, studio, chips, monster, tap, iddle, clicker, incremental, chammyland, casual, gamer, permainan, mobile, android, ios, action, shooting, robot, mecha')
    meta(name='theme-color', content='#fda520')
    meta(name='robots', content='noodp')
    link(rel='canonical', href='https://games.ciayo.com/')

    //- meta tag generated untuk SEO  dan sharing purpose
    meta(name='description', content='Ciayo games adalah studio game mobile berasal dari Indonesia yang memiliki semangat untuk terus menciptakan game-game mobile yang fresh dan berkualitas, tidak hanya untuk lokal tapi juga secara internasional!')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='CIAYO Games')
    meta(property='og:description', content='Ciayo games adalah studio game mobile berasal dari Indonesia yang memiliki semangat untuk terus menciptakan game-game mobile yang fresh dan berkualitas, tidak hanya untuk lokal tapi juga secara internasional!')
    meta(property='og:url', content='https://games.ciayo.com/')
    meta(property='og:site_name', content='CIAYO Games')
    //- pakai general fb apps punya ciayo, semua masih terkoneksi disini, comics, blog, fb pages
    meta(property='fb:app_id', content='1491366367545651')
    meta(property='og:image', content='./img/ciayogames-web-share.jpg')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:description', content='Ciayo games adalah studio game mobile berasal dari Indonesia yang memiliki semangat untuk terus menciptakan game-game mobile yang fresh dan berkualitas, tidak hanya untuk lokal tapi juga secara internasional!')
    meta(name='twitter:title', content='CIAYO Games')
    meta(name='twitter:image' content='./img/ciayogames-web-share.jpg')

    link(rel='shortcut icon', href='favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='57x57', href='favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='favicon/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='favicon/android-chrome-192x192.png', sizes='192x192')
    meta(name='msapplication-square70x70logo', content='favicon/smalltile.png')
    meta(name='msapplication-square150x150logo', content='favicon/mediumtile.png')
    meta(name='msapplication-wide310x150logo', content='favicon/widetile.png')
    meta(name='msapplication-square310x310logo', content='favicon/largetile.png')

    link(rel='stylesheet', href='./css/flickity.css')
    link(rel='stylesheet', href='./css/hamburgers.css')
    link(rel='stylesheet', href='./css/style.css')

    title CIAYO Games

  body
    button.hamburger.hamburger--collapse(type='button')
      span.hamburger-box
        span.hamburger-inner
    .hamburger-menu-content
        ._nav
            a(href='#home') Home
            a(href='#about') About
            a(href='#services') Services
            a(href='#team') Team
            a(href='#contact') Contact
    
    #header._header.col-group
      .col-3
          a(class='_logo', href='#home')
      .col-8
          ._nav._nav-desktop
              a(href='#home') Home
              a(href='#about') About
              a(href='#services') Services
              a(href='#team') Team
              a(href='#contact') Contact

    #home.hero.section
        //- ._image(data-parallax='scroll', data-image-src='./img/banner.jpg')
        //- ._image(data-parallax='scroll', data-image-src='./img/banner.jpg')
        ._image
            ul#testparallax
                li.layer(data-depth='0.05')
                    .ganteng(style='background-image: url("img/banner-1.jpg")')
                li.layer(data-depth='0.2')
                    .ganteng.objects(style='background-image: url("img/banner-3.png")')
                li.layer(data-depth='0.3')
                    .ganteng.grass(style='background-image: url("img/banner-2.png")')
                li.layer(data-depth='0.4')
                    .ganteng.chips(style='background-image: url("img/banner-4.png")')
                li.layer(data-depth='0.3')
                    ._game-content
                        a.badge-1(href='https://events.withgoogle.com/indonesia-games-contest/meet-the-finalists/', target='_blank')
                        img.game-logo(src='./img/chips-monster-tap-logo@2x.png' width='300', alt="CHIPS: Monster Tap")
                        h2 
                            | Monsters are invading the world! Help 
                            br.hide-phone-sm
                            | Chips, the genius inventor, on his way to restore peace!
                        ._download-button
                            a.button-playstore(href='https://play.google.com/store/apps/details?id=com.ciayo.chipsmonstertap', target='_blank', title='Download for Android')
                            a.button-appstore(href='https://itunes.apple.com/us/app/chips-monster-tap/id1199367972?mt=8', target='_blank', title='Download for iOS')
                            .clear
            ._bg-hero
        .clear

    #about.about.section
        ._wrapper
            ._content
                h2.title We are a fresh #[br] Studio Game Developer
                p.text It began on January, 2017, just as a small idea spoken by our passionate founders. Then it snowballed and grew into a solid team of game developers — the best that Indonesia has to offer. With quality in mind, we aim to craft fresh and highly entertaining games. Proudly local, ambitiously global.

    #services.services.section
        ._two-columns
            ._title-container
                ._wrapper
                    h2.section-title What We Offer
            ._left
                ._content
                    h2.title IP Management
                    p.text A highly-detailed and personalized IP management to leverage your brand into something more powerful than it was. It’s that sweet spot between tech wizardry and artistic know-how.
            ._right
                ._content
                    h2.title Client Service
                    p.text We will be more than happy to take care of any game-related mumbo-jumbo you need. Just kick back, relax, and have us deliver a wonderful mobile entertainment you won't regret.
        //- ._top
        //-     ._wrapper
        //-         h2.section-title What We Offer
        //-         ._content
        //-             .col-6.pull-right.mt-lg-30
        //-                 h2.title IP Management
        //-                 p.text A highly-detailed and personalized IP management to leverage your brand into something more powerful than it was. It’s that sweet spot between tech wizardry and artistic know-how.
        //-             .clear
        //- ._bottom
        //-     ._wrapper
        //-         ._content
        //-             .col-6
        //-                 h2.title Client Service
        //-                 p.text We will be more than happy to take care of any game-related mumbo-jumbo you need. Just kick back, relax, and have us deliver a wonderful mobile entertainment you won't regret.
        .clear

    #team.team.section
        ._wrapper
            h2.section-title Meet the Team
        ._flickity
            ._character-container
                ._chara(style='background-image: url(./img/chara/ciayogames-gun.png); z-index: 50')
                ._chara(style='background-image: url(./img/chara/ciayogames-nata.png); z-index: 49')
                ._chara(style='background-image: url(./img/chara/ciayogames-vic.png); z-index: 48')
                ._chara(style='background-image: url(./img/chara/ciayogames-lorenz.png); z-index: 47')
                ._chara(style='background-image: url(./img/chara/ciayogames-handy.png); z-index: 46')
                ._chara(style='background-image: url(./img/chara/ciayogames-yudith.png); z-index: 45')
                ._chara(style='background-image: url(./img/chara/ciayogames-calvin.png); z-index: 44')
                ._chara(style='background-image: url(./img/chara/ciayogames-arie.png); z-index: 43')
                ._chara(style='background-image: url(./img/chara/ciayogames-alfa.png); z-index: 42')
                ._chara(style='background-image: url(./img/chara/ciayogames-yoel.png); z-index: 41')
                ._chara(style='background-image: url(./img/chara/ciayogames-sonny.png); z-index: 40')
                ._chara(style='background-image: url(./img/chara/ciayogames-ari.png); z-index: 39')
                ._chara(style='background-image: url(./img/chara/ciayogames-visien.png); z-index: 38')
            .button-row.button-row--left
                button.button.button--previous 
                    .arrow
            .button-row.button-row--right
                button.button.button--next 
                    .arrow    
        
        .clear

    #contact.contact.section
        ._wrapper
            h2.section-title Contact
            ._content
                p.text Have a project in mind? Or just want to say hi? Never hesitate to contact us. We‘ll respond right away. Promise thing.
            ._form
                form(action='https://formspree.io/vic@dragoncapital.center', method='post', class='form-contact')
                    .row
                        .col-6
                            input(type='text', name='Name', placeholder='Name' required)
                        .col-6
                            input(type='text', name='Phone', placeholder='Phone' required)
                        .clear
                    .row
                        .col-6
                            input(type='email', name='_replyto', placeholder='Email' required)
                        .col-6
                            .select-container
                                select(name='_subject' required)
                                    option(value='No Subject') Subject
                                    option(value='Pertanyaan') Question
                                    option(value='Penawaran') Project Inquiry
                                svg(class='svg', width='15px', height='10px', xmlns='http://www.w3.org/2000/svg')
                                  polyline(stroke='#546088', stroke-width='2', fill='none', points='0.7,0.7 6.7,6.7 12.7,0.7')
                        .clear
                    .row
                        .col-12
                            textarea(name='message', placeholder='Message' required)
                    .row
                        .col-12
                            input(type='submit' value='Send')
        .footer
            ._wrapper
                img(src='./img/ciayogames-logo-footer@2x.png' alt='CIAYO Games' width='126' class='mb-20')
                p.text The Dragon Building #[br] Mangga Dua Square, E8, Jl. Mangga Dua Raya #[br] RT.11/RW.6, Ancol, Jakarta, DKI Jakarta, 14420
                ._social-media
                    a(href='https://www.facebook.com/ChipsMonsterTap/', target='_blank', title='Follow us on Facebook!') #[img(src='./img/social-facebook.png' width='22')]
                    | &ensp;
                    a(href='https://www.instagram.com/chips_monstertap/', target='_blank', title='Follow us on Instagram!') #[img(src='./img/social-instagram.png' width='22')]
                    .clear

    script(type='text/javascript', src='./js/vendor.min.js')
    script(type='text/javascript', src='./js/main.js', defer='defer')
    script(defer='defer').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67806983-8', 'auto');
      ga('send', 'pageview');